<div class="container">
    <div class="info__container">
        <div class="location__container">
            <h1 class="page__title">Ubicación</h1>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30606.905598901354!2d-68.16382025637354!3d-16.482463190129923!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x915f21c9aabff749%3A0x2d5df2ff2c59e15b!2sUSM%20Motos%20La%20Paz!5e0!3m2!1ses-419!2sbo!4v1667182111009!5m2!1ses-419!2sbo"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="form__container">
            <h1 class="page__title">Comentarios y Sugerencias</h1>
            <div class="input__container">
                <mat-form-field class="form__input" appearance="fill">
                    <mat-label>Nombres:</mat-label>
                    <input matInput>
                </mat-form-field>
                <mat-form-field class="form__input" appearance="fill">
                    <mat-label>Apellidos:</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="input__container">
                <mat-form-field class="input--full" appearance="fill">
                    <mat-label>Comentarios y Sugerencias</mat-label>
                    <textarea matInput placeholder="Déjanos tus comentarios y sugerencias"></textarea>
                </mat-form-field>
            </div>
            <div class="button__container"><button mat-raised-button color="accent" (click)="sent()">Enviar</button>
            </div>
        </div>
    </div>
    <h1 class="page__title">Acerca de Nosotros</h1>
    <div class="cards__container">
        <mat-card>
            <mat-card-header class="card__header">
                <mat-card-title>Misión</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="/assets/mision.jpg" alt="" class="card__image">
            <mat-card-content>
                <p class="product-card__content">
                    Nuestra misión es ofrecer siempre a nuestros clientes productos de alta calidad, eficaces y al mejor
                    precio.
                    <br>
                    Contando por supuesto con un asesoramiento experto para solucionar cualquier duda o problema.
                    Como empresa también intentamos promover el espíritu motero destacando todas y cada una de sus
                    ventajas.
                    <br>
                    Todo con el fin de dar solución a las necesidades de nuestros clientes, satisfaciendo y superando
                    sus expectativas iniciales.
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-header class="card__header">
                <mat-card-title>Visión</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="/assets/vision.jpg" alt="" class="card__image">
            <mat-card-content>
                <p class="product-card__content">
                    Nuestra visión como empresa es conseguir ser referentes en el mercado de recambios de motos.
                    <br>
                    Ser una empresa respetada y fiable en el mercado, obteniendo el mayor grado de satisfacción de
                    nuestros clientes gracias a nuestro trato y servicios intachables.
                    <br>
                    También conseguir ofrecer la mejor relación calidad-precio del mercado, trabajando día a día para
                    que todos nuestros clientes obtengan los mejores productos y últimas novedades.
                    <br>
                    Y por último, y más importante, crear un vínculo de confianza entre la empresa y nuestros clientes.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="social__container">
        <h1 class="page__title">Encuéntranos en Redes Sociales</h1>
        <div class="buttons__container">
            <button mat-fab color="accent">
                <mat-icon>facebook</mat-icon>
            </button>
            <button mat-fab color="accent">
                <mat-icon>share</mat-icon>
            </button>
            <button mat-fab color="accent">
                <mat-icon>public</mat-icon>
            </button>
            <button mat-fab color="accent">
                <mat-icon>motorcycle</mat-icon>
            </button>
        </div>
    </div>
</div>