<h1 class="category" id="1">Motocicletas Urbanas</h1>
<mat-grid-list cols="4" rowHeight="2:4">
    <mat-grid-tile>
        <mat-card class="product-card">
            <mat-card-header>
                <mat-card-title class="product-card__title">
                    SERNA-LYON-150/Rojo
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="assets/moto1.webp" alt="" class="product-card__image">
            <mat-card-content>
                <p>Motocicleta Serna Lyon 150 CC Rojo</p>
                <h2 class="product-card__price">Precio: Bs.7999.00 </h2>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" class="product-card__button"
                    (click)="redirect('1')">Comprar</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="product-card">
            <mat-card-header>
                <mat-card-title class="product-card__title">
                    BROZZ-250/NEGRO
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="assets/moto2.webp" alt="" class="product-card__image">
            <mat-card-content>
                <p>Motocicleta Power Brozz 250 CC</p>
                <h2 class="product-card__price">Precio: Bs.8999.00 </h2>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" class="product-card__button"
                    (click)="redirect('2')">Comprar</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="product-card">
            <mat-card-header>
                <mat-card-title class="product-card__title">
                    BALLUG-NGR/RJO-2023
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="assets/moto3.webp" alt="" class="product-card__image">
            <mat-card-content>
                <p>Motocicleta Boxer Alloy UG Bajaj 150 CC Negro con Rojo 2023</p>
                <h2 class="product-card__price">Precio: Bs.9999.00 </h2>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" class="product-card__button"
                    (click)="redirect('3')">Comprar</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="product-card">
            <mat-card-header>
                <mat-card-title class="product-card__title">
                    BALLUG-NGR/GRS-2023
                </mat-card-title>
                <mat-card-subtitle class="product-card__offer">Modelo Exclusivo</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/moto4.webp" alt="" class="product-card__image">
            <mat-card-content>
                <p>Motocicleta Boxer Alloy UG Bajaj 150 CC Negro con Gris 2023</p>
                <h2 class="product-card__price">Precio: Bs.12000.00 </h2>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" class="product-card__button"
                    (click)="redirect('4')">Comprar</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
<h1 class="category" id="2">Motocicletas Electricas</h1>
<mat-grid-list cols="4" rowHeight="2:4">
    <mat-grid-tile>
        <mat-card class="product-card">
            <mat-card-header>
                <mat-card-title class="product-card__title">
                    Z-M6-020-WHITE/BLACK
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="assets/moto5.webp" alt="" class="product-card__image">
            <mat-card-content>
                <p>Motocicleta eléctrica deportiva Tongbao Z-M6-020 Color Blanco y Negro</p>
                <h2 class="product-card__price">Precio: Bs.6999.00 </h2>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" class="product-card__button"
                    (click)="redirect('5')">Comprar</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="product-card">
            <mat-card-header>
                <mat-card-title class="product-card__title">
                    AOF-RED/BLACK
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="assets/moto6.webp" alt="" class="product-card__image">
            <mat-card-content>
                <p>Scooter mediana eléctrico Nice AOF Color Rojo y Negro</p>
                <h2 class="product-card__price">Precio: Bs.7999.00 </h2>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" class="product-card__button"
                    (click)="redirect('6')">Comprar</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="product-card">
            <mat-card-header>
                <mat-card-title class="product-card__title">
                    AOF-WHITE/BLACK
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="assets/moto7.webp" alt="" class="product-card__image">
            <mat-card-content>
                <p>Scooter mediana eléctrico Nice AOF Color Blanco y Negro</p>
                <h2 class="product-card__price">Precio: Bs.8999.00 </h2>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" class="product-card__button"
                    (click)="redirect('7')">Comprar</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="product-card">
            <mat-card-header>
                <mat-card-title class="product-card__title">
                    BLITZ135/BLANCO
                </mat-card-title>
                <mat-card-subtitle class="product-card__offer">Modelo Exclusivo</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/moto8.webp" alt="" class="product-card__image">
            <mat-card-content>
                <p> Motocicleta Power Blitz 135 CC Blanco </p>
                <h2 class="product-card__price">Precio: Bs.10000.00 </h2>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" class="product-card__button"
                    (click)="redirect('8')">Comprar</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
<h1 class="category" id="3">Motocicletas Deportivas</h1>
<mat-grid-list cols="4" rowHeight="2:4">
    <mat-grid-tile>
        <mat-card class="product-card">
            <mat-card-header>
                <mat-card-title class="product-card__title">
                    LIBERTY-200/NEGRO
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="assets/moto9.webp" alt="" class="product-card__image">
            <mat-card-content>
                <p>Motocicleta Power Liberty 200 CC Negro</p>
                <h2 class="product-card__price">Precio: Bs.9999.00 </h2>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" class="product-card__button"
                    (click)="redirect('9')">Comprar</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="product-card">
            <mat-card-header>
                <mat-card-title class="product-card__title">
                    BLITZ135/AZUL
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="assets/moto10.webp" alt="" class="product-card__image">
            <mat-card-content>
                <p>Motocicleta Power Blitz 135 CC Azul</p>
                <h2 class="product-card__price">Precio: Bs.10999.00 </h2>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" class="product-card__button"
                    (click)="redirect('10')">Comprar</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="product-card">
            <mat-card-header>
                <mat-card-title class="product-card__title">
                    BROZZ-250/ROJO
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="assets/moto11.webp" alt="" class="product-card__image">
            <mat-card-content>
                <p>Motocicleta Power Brozz 250 CC Rojo</p>
                <h2 class="product-card__price">Precio: Bs.11999.00 </h2>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" class="product-card__button"
                    (click)="redirect('11')">Comprar</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="product-card">
            <mat-card-header>
                <mat-card-title class="product-card__title">
                    FOX-250/AZUL
                </mat-card-title>
                <mat-card-subtitle class="product-card__offer">Modelo Exclusivo</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/moto12.webp" alt="" class="product-card__image">
            <mat-card-content>
                <p>Motocicleta Power Fox 250 CC Azul</p>
                <h2 class="product-card__price">Precio: Bs.15000.00 </h2>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" class="product-card__button"
                    (click)="redirect('12')">Comprar</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
<h1 class="category" id="4">Accesorios</h1>
<mat-grid-list cols="4" rowHeight="2:4">
    <mat-grid-tile>
        <mat-card class="product-card">
            <mat-card-header>
                <mat-card-title class="product-card__title">
                    ICH-3110S-/NEGRO-AMARILLO
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="assets/casco1.webp" alt="" class="product-card__image">
            <mat-card-content>
                <p>Casco ICH 3110s Negro con Amarillo</p>
                <h2 class="product-card__price">Precio: Bs.299.00 </h2>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" class="product-card__button"
                    (click)="redirect('13')">Comprar</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="product-card">
            <mat-card-header>
                <mat-card-title class="product-card__title">
                    HRO511-NEGRO/VERDE-L
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="assets/casco2.webp" alt="" class="product-card__image">
            <mat-card-content>
                <p>Casco Integral HRO 511 Negro con Verde Talla L</p>
                <h2 class="product-card__price">Precio: Bs.499.00 </h2>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" class="product-card__button"
                    (click)="redirect('14')">Comprar</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="product-card">
            <mat-card-header>
                <mat-card-title class="product-card__title">
                    HRO511-NEGRO/VERDE-XL
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="assets/casco3.webp" alt="" class="product-card__image">
            <mat-card-content>
                <p>Casco Integral SHAFT 581 Azul con amarillo Talla M</p>
                <h2 class="product-card__price">Precio: Bs.699.00 </h2>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" class="product-card__button"
                    (click)="redirect('15')">Comprar</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="product-card">
            <mat-card-header>
                <mat-card-title class="product-card__title">
                    SHAFT545-NEGRO/AMARILLO-XL
                </mat-card-title>
                <mat-card-subtitle class="product-card__offer">Modelo Exclusivo</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/casco4.webp" alt="" class="product-card__image">
            <mat-card-content>
                <p>Casco Integral SHAFT 545 Negro y amarillo Talla XL/p>
                <h2 class="product-card__price">Precio: Bs.1000.00 </h2>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" class="product-card__button"
                    (click)="redirect('16')">Comprar</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>