<div class="home__container">
    <h1 class="page__title">NUESTRAS OFERTAS</h1>
    <div class="sale__container">
        <mat-card class="product-card">
            <mat-card-header>
                <mat-card-title class="product-card__title">
                    Motocicletas Urbanas
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="/assets/motos_urbanas.jpg" alt="" />
            <mat-card-content>
                <p class="product-card__content">Las motocicletas urbanas son para ti. Este tipo de motocicleta es
                    de una variedad muy amplia y es una de las más accesibles para las personas, ya que traen poco
                    carenado</p>
                <h2 class="product-card__price">A partir de: Bs.7999.99</h2>
                <div class="button__container"><button class="product-card__button" mat-raised-button color="accent"
                        (click)="redirect('1')">Comprar</button></div>
            </mat-card-content>
        </mat-card>
        <mat-card class="product-card">
            <mat-card-header>
                <mat-card-title class="product-card__title">
                    Motocicletas Electricas
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="/assets/motos_electricas.jpg" alt="" />
            <mat-card-content>
                <p class="product-card__content">Con nuestras nuevas motos eléctricas únete a la nueva era de movilidad,
                    trasládate sin esfuerzo o
                    ejercítate mientras avanzas, con nuestras ofertas tú decides.</p>
                <h2 class="product-card__price">A partir de: Bs.6999.99</h2>
                <div class="button__container"><button class="product-card__button" mat-raised-button color="accent"
                        (click)="redirect('2')">Comprar</button></div>
            </mat-card-content>
        </mat-card>
        <mat-card class="product-card">
            <mat-card-header>
                <mat-card-title class="product-card__title">
                    Motocicletas Deportivas
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="/assets/motos_deportivas.jpeg" alt="" />
            <mat-card-content>
                <p class="product-card__content">Las motocicletas deportivas son para ti. Este tipo de motocicleta es de
                    una variedad muy amplia y es una de las más accesibles para las personas, ya que traen poco carenado
                </p>
                <h2 class="product-card__price">A partir de: Bs.9999.99</h2>
                <div class="button__container"><button class="product-card__button" mat-raised-button color="accent"
                        (click)="redirect('3')">Comprar</button></div>
            </mat-card-content>
        </mat-card>
        <mat-card class="product-card">
            <mat-card-header>
                <mat-card-title class="product-card__title">
                    Accesorios
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="/assets/accesorios.jpg" alt="" />
            <mat-card-content>
                <p class="product-card__content">Los cascos para motos es uno de los accesorios imprescindibles al
                    momento de andar en moto, es tanta su importancia que en gran parte del mundo es obligatorio
                    legalmente, y no es para menos, si con este protegemos nuestras vidas frente a cualquier accidente.
                </p>
                <h2 class="product-card__price">A partir de: Bs.299.99</h2>
                <div class="button__container"><button class="product-card__button" mat-raised-button color="accent"
                        (click)="redirect('4')">Comprar</button></div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<div class="cards__container">
    <mat-card>
        <mat-card-header class="card__header">
            <mat-card-title>Misión</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="/assets/mision.jpg" alt="Cacao" class="card__image">
        <mat-card-content>
            <p class="product-card__content">
                Nuestra misión es ofrecer siempre a nuestros clientes productos de alta calidad, eficaces y al mejor
                precio.
                <br>
                Contando por supuesto con un asesoramiento experto para solucionar cualquier duda o problema.
                Como empresa también intentamos promover el espíritu motero destacando todas y cada una de sus ventajas.
                <br>
                Todo con el fin de dar solución a las necesidades de nuestros clientes, satisfaciendo y superando sus
                expectativas iniciales.
            </p>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-header class="card__header">
            <mat-card-title>Visión</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="/assets/vision.jpg" alt="Chocolate" class="card__image">
        <mat-card-content>
            <p class="product-card__content">
                Nuestra visión como empresa es conseguir ser referentes en el mercado de recambios de motos.
                <br>
                Ser una empresa respetada y fiable en el mercado, obteniendo el mayor grado de satisfacción de nuestros
                clientes gracias a nuestro trato y servicios intachables.
                <br>
                También conseguir ofrecer la mejor relación calidad-precio del mercado, trabajando día a día para que
                todos nuestros clientes obtengan los mejores productos y últimas novedades.
                <br>
                Y por último, y más importante, crear un vínculo de confianza entre la empresa y nuestros clientes.
            </p>
        </mat-card-content>

    </mat-card>
</div>